

{% load static %}

<!DOCTYPE html>
<html lang="de">
    <link rel="stylesheet" href="{% static 'bpr.css' %}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Titel der Seite | Name der Website</title>
  </head>
  <body>
    <div id="wrapper">
        <h1>BeerPong Ranking </h1>
        
        <table id="keywords" cellspacing="0" cellpadding="0">
          <thead>
            <tr>
              <th><span>rank</span></th>
              <th><span>usernmae</span></th>
              <th><span>wins</span></th>
              <th><span>games</span></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="lalign">silly tshirts</td>
              <td>6,000</td>
              <td>110</td>
              <td>1.8%</td>
            </tr>
            <tr>
              <td class="lalign">desktop workspace photos</td>
              <td>2,200</td>
              <td>500</td>
              <td>22%</td>
            </tr>
            <tr>
              <td class="lalign">arrested development quotes</td>
              <td>13,500</td>
              <td>900</td>
              <td>6.7%</td>
            </tr>
            <tr>
              <td class="lalign">popular web series</td>
              <td>8,700</td>
              <td>350</td>
              <td>4%</td>
            </tr>
            <tr>
              <td class="lalign">2013 webapps</td>
              <td>9,900</td>
              <td>460</td>
              <td>4.6%</td>
            </tr>
            <tr>
              <td class="lalign">ring bananaphone</td>
              <td>10,500</td>
              <td>748</td>
              <td>7.1%</td>
            </tr>
          </tbody>
        </table>
       </div> 
  </body>
</html>


