
        {% load render_table from django_tables2 %}
        {% load static %}
        {% csrf_token %} 

        
        <!doctype html>
        <html>
        <link rel="stylesheet" href="{% static 'button.css' %}">
            <head>
            </head>
            <body>

            <span style="display: inline;">       
            <a href="../addmatch"><button  class="glow-on-hover" type="button">ADD MATCH</button></a>
            <a href="../ranking"><button  class="glow-on-hover" type="button">Ranking</button></a>
            <a href="../adduser"><button  class="glow-on-hover" type="button">ADD USER</button></a>
            </span>


            <table>
                <tr>
                    <th>Rang</th>
                    <th>Name</th>
                    <th>Wins</th>
                    <th>Games</th>
                </tr>
                    
                {% for aa in fff %}
                <tr>
                    <td> {{aa.rank}} </td>
                    <td> {{aa.username}} </td>
                    <td> {{aa.wins}} </td>
                    <td> {{aa.games}} </td>
                </tr>
                {% endfor %}
            </table>

  

            <script>
                function addmatch() {
                    <a href="addmatch.html"> </a>
                }
            </script>

            </body>
        </html>
